<form method="POST" action="">
    <div class="form-group">
        <input id="name" class="form-control" type="text" placeholder="Fantasy, Poetry etc" name="name" value= "<%(undefined === locals.genre ? '' : genre.name)%>">
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>

<%if(errors){%>
    <ul>
       <% errors.forEach(function(error){ %>
            <li><%=error.msg%></li>
        })
    </ul>
<% } %>

<% if( locals.genre === undefined){ %>
    ''
<% }  else { %>
    <%=genre.name%>
<%}%>